.instructionsSection {
	margin-top: 2em;
	margin-left: 2em;
	margin-right: 0.5em;
	border: 1px solid black;
	margin-bottom: 2em;
}

.instructionsContent {
	padding-top: 1em;
	padding-left: 1em;
}

@media (max-width: 599px) { .instructionsSection {
	margin-left: 0;
}}

.instructionsStep {
	margin-left: -20px;
}
