.recipeDetailsCard {
	margin-top: 3em;
	border: 2px solid black;
}

.recipeDetailsTitle {
	padding-top: 1rem;
}

.recipeDetailsImage {
	height: 15em;
	width: 22em;
}

.recipeDetailsGrid {
	margin-top: 1em;
}

.recipeInformation {
	padding-top: 2em;
}

.dietaryRestrictions {
	padding-top: 2em;
	padding-bottom: 1em;
}
