.card {
    border: 2px solid black;
}

.cardHeader {
    height: 5em;
}

.cardImage {
    width: 300px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.cardContent {
    height: 9em;
}
