.recipeGrid {
    margin-top: 2em;
}

.recipeSelect {
	margin-top: 1em;
}

.recipeCards {
	margin-top: 3em;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

.cuisineSelect {
	height: 2em;
	width: 12em;
	margin-bottom: 3em;
}

.selectMenu {
	height: 20em;
	margin-top: 0.45em;
}

.paginationSection {
	padding-top: 1em;
}
