.card {
    border: 2px solid black;
    background-color: rgb(211, 241, 243);
}

.cardHeader {
    height: 5em;
}

.cardImage {
    width: 300px;
}

.recipeDetails {
    background-color: rgb(211, 241, 243);
}
