.HomePage {
	text-align: center;
	height: 100vh;
}

.content {
	margin-top: 5em;
}

.searchInput {
	width: 60%;
}

.searchButton {
	height: 3em;
	width: 9em;
}

.searchGrid {
	padding-left: 0.8em;
	padding-top: 0.3em;
}
