.HomePage {
	text-align: center;
	height: 100vh;
}

.content {
	margin-top: 5em;
}

.searchInput {
	width: 60%;
}

@media (max-width: 599px) { .searchInput {
	display: block;
}}

.searchButton {
	height: 3em;
	width: 9em;
}

@media (max-width: 599px) { .searchButton {
	margin-top: 2em;
}}

.searchGrid {
	padding-left: 1em;
}
